/* Author - Cameron Donnelly 40533520 */
/* This CSS file changes the colour of the home page to the light mode alternative.*/

#body{
   background-color: white;
}

/* Header */

#flex-container h1{
    color: white;
}

#flex-container a.burgericon, .search-svg__path, a.gearicon{
    color: white;
}

#flex-container #myLinks {
    background-color: #333;
    color:white;
}

#flex-container #myLinks a {
    color: white;
}

/* Header Hover Effect */

#flex-container #myLinks a:hover {
    background-color: white;
    color: black;
}

#box-container:hover{
    background-color:white;
    color: black;
    border-bottom: 5px solid black;
}

#box-container:hover h1{
    color: black;
}

#box-container:hover i{
    color: black;
}

#box-container:hover .search-svg__path{
    stroke: black;
}

#box-container:hover .search-input{
    color: black;
}

#box-container:hover .search-close:before, #box-container:hover .search-close:after{
    background: black;
}

/* About Us */

#aboutUs{
    background-color: white;
    border-top: 5px solid black;
}

/* Social Media Icons */

#socials ul li a .fa
{
    color: #222;
}

/* Search bar */

.search-svg__path {
    stroke: #fff;
}
.search-input {
    color: #fff;
}

.search-close:before, .search-close:after {
    background: #fff;
}