#body{
    background-color: #1a1a1a;
}

#flex-container h1{
    color: white;
}

#flex-container a.burgericon, .search-svg__path, a.gearicon{
    color: white;
}

#flex-container #myLinks {
    background-color: #333;
    color:white;
}

#flex-container #myLinks a {
    color: black;
}

#flex-container #myLinks a:hover {
    background-color: black;
    color: white;
}

#box-container:hover{
    background-color:black;
    color: white;
    border-bottom: 5px solid white;
}

#aboutUs{
    color: white;
    background-color: #1a1a1a;
    border-top: 5px solid white;
}

/* Social Media Icons */

#socials ul li a .fa
{
    color: #969696;
}

/* Search bar */

.search-svg__path {
    stroke: #fff;
}
.search-input {
    color: #fff;
}

.search-close:before, .search-close:after {
    background: #fff;
}